* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.container {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
    ' s h h'
    ' s m m'
    ' f f f';
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: h ;
    background-color:#817c9c ;
    font-size: 2rem;
}

.side {
    grid-area: s ;
    background-color:#9ccfd8 ;
    display: flex;
    flex-direction: column; 
    padding: 1rem;
}

.main {
    grid-area: m ;
    background-color:#e0def4 ;
    padding-left: 3rem;
}

.footer {
    grid-area: f ;
    background-color:#817c9c;

}

nav ul {
    list-style: none;
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    margin-left: 10px;
    color: #e5e5dc;
}

.nav-item {
    display: inline-block;

    padding-top: 25px;
    font-size: 10px;
}

